<!DOCTYPE html>
<!-- This is the first applicaton-->
<html>
    <head>
        <title>Chicken</title>
    </head>    
    <body>
        <h1>Chicken</h1>
        
        <a> I am a LINK!</a>
        The <b>chicken</b> (Gallus gallus domesticus) is a type of domesticated fowl, a subspecies of the red junglefowl (Gallus gallus). Chickens are one of the most common and widespread domestic animals, with a total population of 23.7 billion as of 2018.[1] up from more than 19 billion in 2011.[2] There are more chickens in the world than any other bird or domesticated fowl.[2] Humans keep chickens primarily as a source of food (consuming both their meat and eggs) and, less commonly, as pets. Originally raised for cockfighting or for special ceremonies, chickens were not kept for food until the Hellenistic period (4th–2nd centuries BC).[3][4]
        <p></p>
        Genetic studies have pointed to multiple maternal origins in South Asia, Southeast Asia, and East Asia,[5] but with the clade found in the Americas, Europe, the Middle East and Africa originating in the Indian subcontinent. From ancient India, the domesticated chicken spread to Lydia in western Asia Minor, and to Greece by the 5th century BC.[6] Fowl had been known in Egypt since the mid-15th century BC, with the "bird that gives birth every day" having come to Egypt from the land between Syria and Shinar, Babylonia, according to the annals of Thutmose III.
        <h2>General biology and habitat</h2>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aenean vel elit scelerisque mauris pellentesque. Maecenas accumsan lacus vel facilisis volutpat. Viverra mauris in aliquam sem fringilla ut morbi tincidunt. Lorem ipsum dolor sit amet consectetur adipiscing elit duis. Eget nunc lobortis mattis aliquam. Sed blandit libero volutpat sed cras ornare arcu. In tellus integer feugiat scelerisque varius morbi enim nunc. Semper auctor neque vitae tempus. Aenean pharetra magna ac placerat. Rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque. Interdum consectetur libero id faucibus nisl tincidunt eget. Consequat ac felis donec et odio pellentesque diam. Lectus nulla at volutpat diam ut venenatis tellus in metus. Ultrices gravida dictum fusce ut placerat orci nulla pellentesque dignissim. Turpis egestas sed tempus urna. Ultricies mi quis hendrerit dolor magna eget est. Eget est lorem ipsum dolor. Diam sit amet nisl suscipit adipiscing. Quam vulputate dignissim suspendisse in.
        <h3>Behavior</h3>
        <h4>Social behaviour</h4>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aenean vel elit scelerisque mauris pellentesque. Maecenas accumsan lacus vel facilisis volutpat. Viverra mauris in aliquam sem fringilla ut morbi tincidunt. Lorem ipsum dolor sit amet consectetur adipiscing elit duis. Eget nunc lobortis mattis aliquam. Sed blandit libero volutpat sed cras ornare arcu. In tellus integer feugiat scelerisque varius morbi enim nunc. Semper auctor neque vitae tempus. Aenean pharetra magna ac placerat. Rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque. Interdum consectetur libero id faucibus nisl tincidunt eget. Consequat ac felis donec et odio pellentesque diam. Lectus nulla at volutpat diam ut venenatis tellus in metus. Ultrices gravida dictum fusce ut placerat orci nulla pellentesque dignissim. Turpis egestas sed tempus urna. Ultricies mi quis hendrerit dolor magna eget est. Eget est lorem ipsum dolor. Diam sit amet nisl suscipit adipiscing. Quam vulputate dignissim suspendisse in.
        <h4>Courtship</h4>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aenean vel elit scelerisque mauris pellentesque. Maecenas accumsan lacus vel facilisis volutpat. Viverra mauris in aliquam sem fringilla ut morbi tincidunt. Lorem ipsum dolor sit amet consectetur adipiscing elit duis. Eget nunc lobortis mattis aliquam. Sed blandit libero volutpat sed cras ornare arcu. In tellus integer feugiat scelerisque varius morbi enim nunc. Semper auctor neque vitae tempus. Aenean pharetra magna ac placerat. Rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque. Interdum consectetur libero id faucibus nisl tincidunt eget. Consequat ac felis donec et odio pellentesque diam. Lectus nulla at volutpat diam ut venenatis tellus in metus. Ultrices gravida dictum fusce ut placerat orci nulla pellentesque dignissim. Turpis egestas sed tempus urna. Ultricies mi quis hendrerit dolor magna eget est. Eget est lorem ipsum dolor. Diam sit amet nisl suscipit adipiscing. Quam vulputate dignissim suspendisse in.
        <h5>I am h5</h5>
        <h6>I am h6</h6>
        
        <h4>Breeds</h4>
            <ul>
                <li>Large</li>
                    <ul>
                        <li>German Shepherd</li>
                        <li>Lab</li>
                    </ul>
                <li>Small</li>
                    <ul>    
                        <li>Poodle</li>
                        <li>Beagle</li>
                    </ul>    
            </ul>
    </body>
</html>

